<!-- layouts/partials/header.html -->
<nav class="fx-nav">
  <div class="fx-nav-logo">
    <a href="{{ "/" | relURL }}">
      <img src="/images/geektheviking-32px.png" alt="GTV Mascot" class="fx-nav-mascot">
    </a>
    <span class="fx-nav-logo-text">GEEK THE VIKING</span>
  </div>
  <ul class="fx-nav-links">      
    <li><a href="{{ "long-hall/" | relURL }}">[Long Hall]</a></li>
    <li><a href="{{ "cyberspace/" | relURL }}">[Cyberspace]</a></li>
    <li><a href="{{ "longship/" | relURL }}">[Longship]</a></li>    
    <li><a href="{{ "store-house/" | relURL }}">[Store House]</a></li>
  </ul>
</nav>
